{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SandboxInitCmsBundle::layout.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}

{% block content %}
    <div class="span12">
        {% if page.layoutBlock('left-top') is not empty %}
            <div class="hero-unit">
                    {% for layoutBlock in page.layoutBlock('header') %}
                        {{ networking_init_cms_block('SandboxInitCmsBundle:Content:hero_block.html.twig', layoutBlock) }}
                    {% endfor %}
            </div>
        {% endif %}
        <div class="row-fluid">
            {% if page.layoutBlock('right-top')|length > 0 or page.layoutBlock('right-middle')|length > 0 %}
                <div class="span6">
                    <div class="middle">
                        {% for layoutBlock in page.layoutBlock('left-top') %}
                            {{ networking_init_cms_block('SandboxInitCmsBundle:Content:cms_block.html.twig', layoutBlock) }}
                        {% endfor %}
                    </div>
                    <div class="middle">
                        {% for layoutBlock in page.layoutBlock('left-middle') %}
                            {{ networking_init_cms_block('SandboxInitCmsBundle:Content:cms_block.html.twig', layoutBlock) }}
                        {% endfor %}
                    </div>
                </div>

                <div class="span6">
                    {% block content_sidebar %}
                        <div class="middle">
                            {% for layoutBlock in page.layoutBlock('right-top') %}
                                {{ networking_init_cms_block('SandboxInitCmsBundle:Content:cms_block.html.twig', layoutBlock) }}
                            {% endfor %}
                            {#{% render "NetworkingNewsBundle:News:recentArticles" with {'max': 3} %}#}
                        </div>
                        <div class="middle">
                            {% for layoutBlock in page.layoutBlock('right-middle') %}
                                {{ networking_init_cms_block('SandboxInitCmsBundle:Content:cms_block.html.twig', layoutBlock) }}
                            {% endfor %}
                        </div>
                    {% endblock content_sidebar %}
                </div>
            {% else %}
                <div class="span12">
                    <div class="middle">
                        {% for layoutBlock in page.layoutBlock('left-top') %}
                            {{ networking_init_cms_block('SandboxInitCmsBundle:Content:cms_block.html.twig', layoutBlock) }}
                        {% endfor %}
                    </div>
                    <div class="middle">
                        {% for layoutBlock in page.layoutBlock('left-middle') %}
                            {{ networking_init_cms_block('SandboxInitCmsBundle:Content:cms_block.html.twig', layoutBlock) }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock content %}


{% block foot_script %}
    {{ parent() }}

    <script type="text/javascript">
        (function ($) {
            $('.carousel').carousel();
            $("a[rel^='prettyPhoto']").prettyPhoto();
        })(jQuery);
    </script>
{% endblock %}
